{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>Vous répondez à ce ticket:</h3>
    <div class="ticket">
    {% include './view_ticket.html' %}
    </div>
    <h4>Modifier la critique</h4>
    <form method="post" enctype="multipart/form-data">
        {{ edit_form.as_p }}
        {% csrf_token %}
        <button type="submit" >Sauvegarder</button>
    </form>
    <h4>Supprimer la critique ?</h4>
    <form method="post" enctype="multipart/form-data">
        {{ delete_form }}
        {% csrf_token %}
        <button type="submit" >Supprimer</button>
    </form>
{% endblock content %}