{% extends 'base.html' %}
{% block content %}
    <h2>Votre flux</h2>
{% if perms.ticket.view_ticket %}
    <div class="grid-container">
        {% for ticket in tickets %}
            <div class="post">
                <a href="{% url 'view_ticket' ticket.id %}">
                    <h4>Ticket : {{ ticket.title }}</h4>
                </a>
                    <p>{% include "./ticket_img.html" %}</p>
                    <p><a href="{% url 'create_review' ticket.id %}">[Ajouter une critique]</a></p>
                {% for review in ticket.review_set.all %}
                    <p>Titre critique: {{ review.headline }} - Note: {{ review.rating }} *
                    <a href="{% url 'edit_review' review.id %}">[Modifier]</a></p>
                    <p>Critique: {{ review.body }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock content %}