{% extends 'base.html' %}
{% block content %}
    <h2>Votre flux</h2>
             <form action="{% url 'create_ticket' %}" method="get">
                 <button type="submit">Demander une critique</button>
            </form>
            <form action="{% url 'create_ticket_and_review' %}" method="get">
                <button type="submit">Créer une critique</button>
            </form>
                    <p>{% include "./feed.html" %}</p>
    <div class="grid-container">
        {% for ticket in tickets %}
            <div class="post">
                <a href="{% url 'view_ticket' ticket.id %}"></a>
                    <h4>Ticket : {{ ticket.title }}</h4>
                <a href="{% url 'edit_ticket' ticket.id %}">[Modifier]</a>
                    <p>{% include "./ticket_img.html" %}</p>
                    <p><a href="{% url 'create_review' ticket.id %}">[Ajouter une critique]</a></p>
                {% for review in ticket.review_set.all %}
                    <p>Titre critique: {{ review.headline }} - Note: {{ review.rating }} *
                    <a href="{% url 'edit_review' review.id %}">[Modifier]</a></p>
                    <p>Critique: {{ review.body }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}

