{% extends 'base.html' %}
{% block content %}
{% load static %}
<h3>Mes posts et commentaires</h3>
<div class="container">
{% for post in posts %}

    {% if post.content_type == 'TICKET' and post.user == user %}
    <div class="post">
    {% include './view_ticket.html' %}
    </div>
        {% elif post.content_type == 'REVIEW' and post.ticket.user == user %}
    <div class="post">
        {% include './view_review.html' %}
    </div>
        {% endif %}
            {% empty %}
            Aucun éléments à votre nom actuellement

    {% endfor %}
</div>
{% endblock content %}

