{% load static %}
<h4>Ticket: {{ post.title }}</h4>
{% if post.user == user %}
        <p>Vous avez posté une demande de critique</p>
{% else %}
        <p>{{post.user}} a posté une demande de critique</p>
{% endif %}
<p>Description: {{ post.description }}</p>
{% include "./ticket_img.html" %}
{% if post.user == user%}
        <a href="{% url 'edit_ticket' post.id %}">[Modifier le ticket]</a>
{% endif %}
<a href="{% url 'create_review' post.id %}">[Créer critique]</a>
<p>Posté le: {{ post.time_created }}</p>




