{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Suivre des utilisateurs</h2>
<form method="post" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" >Confirmer</button>
    </form>
<h2>Liste des utilisateurs suivis</h2>
    {% for user in followed_users %}
        <li>{{ user.username }}
        <form action="{% url 'unfollow_user' user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" >Désabonner</button>
        </form>
        </li>
{% empty %}
Aucun utilisateur n'est suivi actuellement
    {% endfor %}
{% endblock content %}