{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="forms">
<form action="{% url 'create_ticket' %}" method="get">
    <button type="submit">Demander une critique</button></form>
<form action="{% url 'create_ticket_and_review' %}" method="get">
    <button type="submit">Créer une critique</button></form>
</div>
<div class="container">
    <h5>Votre flux</h5>
    {% for post in posts %}
<div class="post">
        {% if post.content_type == 'TICKET' %}
            {% include './ticket/view_ticket.html' %}
        {% if post.user == user%}
        <section class="button">
        <form class="content" action="{% url 'edit_ticket' post.id %}" method="get">
                <button type="submit">Modifier le ticket</button></form>
        {% endif %}
        </section>
        {% if not post.user_has_reviewed %}
        <section class="button">
            <form class="content" action="{% url 'create_review' post.id %}" method="get">
            <button type="submit">Créer critique</button></form>
        </section>
        {% endif %}
        {% elif post.content_type == 'REVIEW' %}
             {% include './ticket/view_review.html' %}
        {% elif post.user == user %}
             {% include './ticket/my_posts.html' %}
    {% endif %}
    </div>
    {% empty %}
    <div class="empty">Aucun éléments à afficher pour le moment</div>
{% endfor %}
</div>
{% endblock content %}